---
title: Welcome to Pepeground
---

<!-- Header -->
<%= partial 'layouts/_intro' %>

<!-- Quotes Section -->
<%= partial 'layouts/_quotes' %>

<!-- Pepeground bot Section -->
<%= partial 'layouts/_pepeground_bot' %>

<!-- Footer -->
<%= partial 'layouts/_footer' %>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
